<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glorykwon.kykdev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kykdev"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">

        // 앱이 Android 12 이상을 타겟팅하고 인텐트 필터를 사용하는 활동이나 서비스, broadcast receiver를 포함하면 이러한 앱 구성요소의 android:exported 속성을 명시적으로 선언해야 합니다.
        // 경고: 활동이나 서비스, broadcast receiver에서 인텐트 필터를 사용하지만 명시적으로 선언된 android:exported 값이 없으면 Android 12 이상을 실행하는 기기에 앱을 설치할 수 없습니다.
        // 앱 구성요소에 LAUNCHER 카테고리가 포함된 경우 android:exported를 true로 설정합니다. 다른 대부분의 경우에는 android:exported를 false로 설정합니다.
        <activity android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.uitest.UiTestActivity" />
        <activity android:name=".ui.webviewtest.WebViewTestActivity" />
        <activity android:name=".ui.verticalseekbartest.VerticalSeekbarTestActivity" />
        <activity
            android:name=".common.dynamiclink.DynamicLinkActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="kykdevapp.page.link" />
                <data android:scheme="https" android:host="kykdevapp.page.link" />
                <data android:scheme="kykdevapp" android:host="action" />
            </intent-filter>
        </activity>

        <service android:name=".common.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- WorkManager 주문형 초기화 위해 기본 초기화 삭제 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="true"
            tools:node="remove">
        </provider>

    </application>

</manifest>